<header class="flex items-center px-4 lg:px-0 mb-2 w-full lg:w-11/12 mx-auto">
  <nav class="flex items-center justify-between w-full">
    <div class="flex items-center">
      <img src="assets/images/logo.png" alt="logo" class="mr-4" />
      <ul class="flex gap-4">
        <li>
          <a href="">Home</a>
        </li>
        <li>
          <a href="">Catalog</a>
        </li>
        <li>
          <a href="">Cart</a>
        </li>
      </ul>
    </div>
    <div>
      <a href="/" class="mr-4">Sign In</a>
      <a href="/">Register</a>
    </div>
  </nav>
</header>
