<main class="w-full lg:w-11/12 mx-auto">
  <div
    class="h-80 bg-[url('/assets/images/hero-banner.png')] bg-cover bg-no-repeat"
  ></div>
  <div class="flex justify-between items-center border-t border-b py-10">
    <img
      src="/assets/images/robot-parts/head-friendly.png"
      alt=""
      class="h-20 lg:h-40"
    />
    <p class="text-center">
      DISPELL THE ROBOT APOCALYPSE MYTH
      <br />
      <span class="text-fuchsia-500"
        >SAVE 20% ON OUT FRIENDLIEST ROBOT HEADS</span
      >
    </p>

    <img
      src="/assets/images/robot-parts/head-big-eye.png"
      alt=""
      class="h-20 lg:h-40"
    />
  </div>
</main>
